Example/src/main/resources/Avinor/Baggage-Information-Exchange-Service/bix-service-1.4.0/xsd/bixservice/entities/BagImage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0.0">

    <xs:include schemaLocation="../../basictypes/Image.xsd"/>
    <xs:include schemaLocation="../../basictypes/MediaType.xsd"/>

    <xs:complexType name="BagImage">
        <xs:sequence>
            <xs:element name="mediaType" type="MediaType"/>
            <xs:element name="image" type="Image"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
