Example/src/main/resources/Avinor/Baggage-Information-Exchange-Service/bix-service-1.4.0/xsd/bixservice/entities/BimData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0.0">

    <xs:include schemaLocation="../../basictypes/AirportIATA.xsd"/>
    <xs:include schemaLocation="../../basictypes/BagInfMsg.xsd"/>
    <xs:include schemaLocation="../../basictypes/BagTagNumber.xsd"/>

    <xs:complexType name="BimData">
        <xs:sequence>
            <xs:element name="bagTagNumber" type="BagTagNumber" minOccurs="0"/>
            <xs:element name="bagEventAirportIATA" type="AirportIATA" minOccurs="0"/>
            <xs:element name="bagInfMsg" type="BagInfMsg"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
